/* ------------------- */
/* Custom properties   */
/* ------------------- */
/* media query break points */
:root {
  /* colors */
  --color-black: 0 0% 0%;
  --color-reddish: 0 91% 71%;
  --color-cyan: 182 91% 71%;
  --color-purple: 284 89% 71%;
  --color-light-blue: 227 100% 92%;
  --color-mild-blue: 235 35% 18%;
  --color-faded-blue: 234 39% 14%;
  --color-light-gray: 229 52% 96%;
  --color-white: 0 0% 100%;
  /* font-sizes */
  --fs-heading1: 100px;
  --fs-heading2: 1.75rem;
  --fs-heading3: 1rem;
  --fs-heading4: 0.8125rem;
  --fs-body1: 0.875rem;
  --fs-body2: 0.75rem;
  --fs-link1: clamp(0.5625rem, 0.25rem + 1vw, 1.5rem);
  --fs-link2: 0.5625rem;
  /* font-families */
  font-family: var(--ff-normal);
}

/* ------------------- */
/* Reset               */
/* ------------------- */
/* https://piccalil.li/blog/a-modern-css-reset/ */
/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* make images easier to work with */
/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

ul, ol {
  list-style-type: none;
  padding: 0;
}

a {
  color: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ------------------- */
/* Utility             */
/* ------------------- */
.font-heading1 {
  font-size: var(--fs-heading1);
  line-height: 120px;
  letter-spacing: -5px;
  font-weight: bold;
}

.font-heading2 {
  font-size: var(--fs-heading2);
  line-height: 120%;
  font-weight: bold;
}

.font-heading3 {
  font-size: var(--fs-heading3);
  line-height: 119%;
  font-weight: bold;
  letter-spacing: 15px;
}

.font-heading4 {
  font-size: var(--fs-heading4);
  line-height: 123%;
  font-weight: bold;
  letter-spacing: 5px;
}

.font-body1 {
  font-size: var(--fs-body);
  line-height: 128%;
  font-weight: bold;
}

.font-body2 {
  font-size: var(--fs-body);
  line-height: 117%;
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

/* set up the body */
body {
  font-family: var(--ff-normal);
  background-color: hsl(var(--color-white));
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* set up the main */
main {
  max-width: 600px;
  background-color: hsl(var(--color-faded-blue));
  padding: 1.5rem;
  border-radius: 1rem;
  color: hsl(var(--color-white));
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > * + * {
  margin-top: 1rem;
}

.nav-tab {
  background-color: hsl(var(--color-black)/0.25);
  padding: 0.25rem;
  border-radius: 27px;
}
.nav-tab button {
  border-radius: 23px;
  background-color: hsl(var(--color-black)/0.25);
  color: hsl(var(--color-light-gray)/0.4);
  padding: 0.5rem 1rem;
  border-color: transparent;
}
.nav-tab button[aria-selected=true] {
  background-color: var(--color-timer);
  color: hsl(var(--color-black));
}

/* Components */
.updown-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  left: -1rem;
  width: 1rem;
}

.custom-number-input {
  margin-right: -1rem;
}

.progress-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin-top: 3rem;
}

.progress-ring__hazycircle {
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  box-shadow: -8px -8px 8px 0 hsl(var(--color-black)/0.25);
}

.progress-ring__hazycircle::before {
  content: "";
  position: absolute;
  height: 280px;
  width: 280px;
  border-radius: 50%;
  background-color: hsl(var(--color-faded-blue));
}

.progress-ring {
  position: relative;
  width: 300px;
  height: 300px;
  z-index: 2;
}

.progress-ring__background {
  stroke: transparent;
  r: 125px;
  cx: 150px;
  cy: 150px;
}

.progress-ring__circle {
  r: 125px;
  cx: 150px;
  cy: 150px;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: var(--color-timer);
}

.progress-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.progress-label-perc {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-timer);
}

.progress-label-command {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-timer);
}

.circle-button {
  display: grid;
  place-content: center;
  cursor: pointer;
  border: solid 1pt hsl(var(--color-black)/0.25);
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
}
.circle-button input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.circle-button:hover, .circle-button:focus {
  border-color: hsl(var(--color-black));
}

/* configuration setting button */
.setting-button {
  background-color: transparent;
  border: none;
  margin-block: 4rem;
}
.setting-button:hover, .setting-button:focus {
  cursor: pointer;
}

/* Custom setting pane */
.settings {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  padding: 1rem;
  background-color: hsl(var(--color-light-gray));
  color: hsl(var(--color-black));
}

.settings--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

form {
  width: 100%;
  position: relative;
}
form input[type=submit] {
  background-color: var(--color-timer);
  color: hsl(var(--color-white));
  padding: 0.25rem 1.5rem;
  border-radius: 23px;
  border-color: transparent;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translate(-50%, 0);
}
form input[type=submit]:hover, form input[type=submit]:focus {
  cursor: pointer;
}

.setting-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-block: 2rem;
  padding-top: 1rem;
  border-top: solid 1pt hsla(var(--color-black)/0.15);
}

.setting-card:first-child {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.setting-card:first-child h1 {
  margin-bottom: 1rem;
}

.setting-card--time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.setting-card--time label {
  display: flex;
  flex-direction: column;
}
.setting-card--time label span {
  color: hsl(var(--color-black)/0.4);
  margin-bottom: 0.5rem;
}
.setting-card--time label input {
  width: 8.75rem;
}

.custom-number-input input {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

.setting-card--font, .setting-card--color {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.setting-card--font label.active {
  background-color: hsl(var(--color-black)/1);
  color: hsl(var(--color-white));
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmarked {
  position: relative;
}
.checkmarked::after {
  content: "";
  position: absolute;
  display: none;
  left: calc(50% - 5px);
  top: calc(50% - 8px);
  width: 10px;
  height: 16px;
  border: solid hsl(var(--color-black)/1);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkmarked.active::after {
  display: block;
}/*# sourceMappingURL=style.css.map */